{% extends 'base.html' %}

{% block title %}<title>Login</title> {% endblock title %}


{% block content %}
    {% if not request.user.is_authenticated %}
        <div style='margin-top: 30px'>
            <form method="POST">
               {% csrf_token %}
               {{ form.as_p}}
                <button type="submit">Register</button>
                <p>Already have an account? <a href="/accounts/login">Login</a></p>
            </form>
        </div>
    {% else %}
        <p>You are already Logged in! Would you like to <a href="/accounts/logout">logout</a>?</p>
    {% endif %}
{% endblock content %}