<!DOCTYPE html>
{% load static %}

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="{% static 'base.css' %}">
        {% block title %} <title>Base</title> {% endblock title %}
        {% block styles %}  {% endblock styles %}
    </head>
    <body>
        <div class="navigate">
            <a href="{% url 'home' %}">Home</a>
            <a href="{% url 'login_view' %}">Account Login</a>
        </div>
        {% block content %} {% endblock content %}
    </body>
</html>